
.card {
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}


.product-name {
    font-size: 1.2 rem;
    margin: 10px 0;
}

.product-description {
    font-size: 1 rem;
    color: #555;
}

.product-material {
    font-size: 1 rem;
    margin: 10px 0;
    color: #555;
}